@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Helvetica:regular,500,700,900&display=swap&subset=cyrillic-ext");

body {
  color: #21243d;
  font-family: "Helvetica";
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 856px;
  margin: 0 auto;
}

.page {
  padding: 50px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  margin: 0 17px;
}

.social__item img {
  width: 30px;
  height: 30px;
}

.header__content {
  max-width: 1052px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__content_article {
  max-width: 700px;
}

.menu__list {
  height: 82px;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list li {
  margin: 0 0 0 33px;
}

.menu__list li:first-child {
  margin: 0 0 0 0;
}

.menu__list_article {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.menu__link._active {
  color: #ff6464;
}

.hello {
  padding: 38px 0 71px 0;
}

.hello__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hello__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 18px 110px 0 0;
}

.hello__content *:last-child {
  margin-bottom: 0px;
}

.hello__avatar {
  background: #000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  height: 243px;
  width: 243px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: -5px 13px 0 0 #edf7fa;
          box-shadow: -5px 13px 0 0 #edf7fa;
}

.hello__avatar img {
  max-width: 100%;
  min-height: 100%;
}

.hello__title {
  margin: 0 0 25px 0;
}

.hello__text {
  margin: 0 0 35px 0;
}

.hello__btn {
  margin: 0 0 25px 0;
}

.recent-posts {
  background-color: #edf7fa;
  padding: 25px 0 13px 0;
}

.recent-posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}

.recent-posts__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 20px 0 0;
}

.recent-posts__view-all {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 16px;
  line-height: 23px;
  color: #00a8cc;
}

.recent-posts__items {
  margin: 0 -10px;
}

.recent-posts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 10px;
  margin: 0 0 17px 0;
}

.recent-post {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 20px;
  height: 100%;
}

.recent-post *:last-child {
  margin-bottom: 0px;
}

.recent-post__title {
  display: inline-block;
  color: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: 146.1538461538%;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  margin: 0 0 17px 0;
}

.recent-post__info {
  font-size: 18px;
  line-height: 144.4444444444%;
  margin: 0 0 15px 0;
}

.recent-post__info span {
  margin: 0 10px;
}

.recent-post__text {
  margin: 0 0 15px 0;
}

.featured-works {
  padding: 30px 0 80px 0;
}

.featured-works__title {
  margin: 0 0 20px 0;
}

.title {
  font-size: 44px;
  font-weight: 700;
  line-height: 93.75%;
}

.text,
.article__text p {
  font-size: 16px;
  line-height: 143.75%;
}

.title-posts {
  font-size: 22px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  background: #FF6464;
  border-radius: 2px;
  height: 47px;
  color: white;
  line-height: 145%;
  font-weight: 500;
  font-size: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.works__items {
  padding: 0 0 60px 0;
}

.works__main-title {
  margin: 0 0 45px 0;
}

.works__item {
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #E0E0E0;
}

.works__item:last-child {
  margin-bottom: 0;
}

.works__item *:last-child {
  margin-bottom: 0;
}

.works__image {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden;
}

.works__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.works__title {
  color: inherit;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  line-height: 133.3333333333%;
  margin: 0 0 15px 0;
}

.works__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px 0;
}

.works__year {
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  background: #142850;
  border-radius: 16px;
  color: white;
  font-weight: 900;
  font-size: 18px;
}

.works__category {
  color: #8695A4;
  font-size: 20px;
  line-height: 145%;
  margin: 0 0 0 25px;
}

.footer {
  text-align: center;
  padding: 50px 0;
}

.footer__social {
  margin: 0 0 25px 0;
}

.blog {
  padding: 0 0 50px 0;
}

.blog__title {
  margin: 0 0 50px 0;
}

.blog__article-name {
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
  line-height: 146.6666666667%;
  margin: 0 0 10px 0;
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.blog__item {
  border-bottom: 1px solid #8695A4;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
}

.blog__item:last-child {
  margin: 0 0 0 0;
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.blog__separator {
  margin: 0 15px;
}

.blog__category {
  color: #8695A4;
}

.article {
  max-width: 700px;
  padding: 0 10px 30px;
  margin: 0 auto;
}

.article__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 147.0588235294%;
  margin: 0 0 30px 0;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 23px 0;
}

.article__year {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  border-radius: 16px;
  background: #ff7c7c;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}

.article__category {
  -ms-flex-item-align: center;
      align-self: center;
  color: inherit;
  font-size: 20px;
  line-height: 145%;
  margin: 0 0 0 25px;
}

.article__text ul {
  list-style-type: circle;
}

.article__text li::before {
  content: "☭";
  color: #ff0101;
  margin: 0 5px 0 0;
}

.article__text p {
  margin: 0 0 20px 0;
}

.article__text img {
  max-width: 100%;
  margin: 0 0 20px 0;
}

.article__text h2 {
  font-size: 30px;
  margin: 40px 0 20px 0;
  font-weight: 500;
}

.article__text h3 {
  font-weight: 500;
  font-size: 24px;
  margin: 10px 0 20px 0;
}

@media screen and (min-width: 767.98px) {
  .recent-posts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .works__body {
    padding: 0 0 0 18px;
    margin: -10px 0 0 0;
  }
}

@media screen and (min-width: 991.98px) {
  .menu__link:hover {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
    color: #ff6464;
  }

  .recent-post__title:hover {
    color: #ff6464;
  }

  .blog__article-name:hover {
    color: #ff6464;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #dd3333;
  }

  .btn._fw {
    width: 100%;
  }
}

@media (max-width: 868px) {
  ._container {
    max-width: 750px;
  }
}

@media screen and (max-width: 868px) {
  .hello {
    padding: 0 0 71px 0;
  }

  .hello__content {
    padding: 18px 50px 0 0;
  }

  .hello__title {
    margin: 0 0 20px 0;
  }

  .hello__btn {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .page {
    padding: 30px 0 0 0;
  }

  .social__item {
    margin: 0 13px;
  }

  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hello {
    padding: 0 0 60px 0;
  }

  .hello__container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .hello__content {
    padding: 40px 0 0 0;
  }

  .hello__avatar {
    margin: 0 auto;
    width: 170px;
    height: 170px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
  }

  .hello__text {
    margin: 0 0 25px 0;
    padding: 0 15px;
  }

  .recent-posts {
    padding: 25px 0px 23px 0px;
  }

  .recent-posts__view-all {
    display: none;
  }

  .recent-post {
    padding: 15px;
  }

  .recent-post__title {
    font-size: 22px;
    margin: 0 0 10px 0;
  }

  .recent-post__info {
    font-size: 16px;
  }

  .featured-works {
    padding: 30px 0 30px 0;
  }

  .title-posts {
    font-size: 18px;
    text-align: center;
  }

  .works__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
  }

  .works__slider .works__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    margin: 0 15px 0 0;
  }

  .works__items {
    padding: 0 0 30px 0;
  }

  .works__main-title {
    margin: 0 0 25px 0;
  }

  .works__item {
    padding: 0 0 17px 0;
  }

  .works__image {
    padding: 0 0 60% 0;
    margin: 0 0 15px 0;
  }

  .works__title {
    font-size: 24px;
  }

  .works__year {
    font-size: 16px;
  }

  .works__category {
    font-size: 16px;
  }

  .footer {
    padding: 30px 0;
  }

  .blog {
    padding: 0 0 30px 0;
  }

  .blog__title {
    margin: 0 0 20px 0;
  }

  .blog__article-name {
    font-size: 26px;
  }

  .blog__item {
    margin: 0 0 25px 0;
    padding: 0 0 25px 0;
  }

  .blog__info {
    font-size: 16px;
  }

  .article__title {
    font-size: 30px;
  }

  .article__category {
    font-size: 18px;
  }
}

@media screen and (max-width: 479.98px) {
  .hello__title {
    font-size: 34px;
  }
}